<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="2.0">
	<persistence-unit name="SimplePU" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.mars.model.ProductDetail</class>
		<properties>
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true" />
			<property name="hibernate.use_sql_comments" value="false" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
			<property name="hibernate.connection.password">123456</property>
			<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe
			</property>
			<property name="hibernate.connection.username">Mars</property>
			<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect
			</property>
			<property name="hibernate.search.autoregister_listeners">true</property>
			<property name="hibernate.validator.apply_to_ddl">false</property>
		</properties>
	</persistence-unit>
</persistence>